.main-our-menu {
    height: 750px;
    width: 100%;
    padding-top: 40px;
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 100px;
    .border-content {
        border-left: 1px solid grey;
    }
    .menu-item {
        width: 200px;
        padding: 17px 0;
        .head {
            font-size: 16px;
            font-weight: 600;
        }
        .content {
            font-size: 14px;
        }
        .price {
            font-size: 14px;
            border: 1px solid orange;
            width: 33px;
        }
    }
}