.loc-main {
    position: relative;
    .loc-sec {
        width: 188px;
        height: 90px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        margin: 100px 0 0 68px;
        z-index: 10;
        .loc-head {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 4px;
        }
        .loc-txt {
            font-size: 13px;
        }
    }
    .map-sec {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
}
