.dashboard {
  height: 600px;
  width: 100%;
  background: url(./images/bg-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  
  .logo-recipe {
    position: absolute;
    top: 115px;
    left: 300px;
  }
  .about {
    text-transform: uppercase;
    text-align: center;
    vertical-align: center;
    color: #fff;
    width: 325px;
    margin: 0 auto;
    padding-top: 175px;
    .about1 {
      font-size: 35px;
      font-weight: 700;
    }
    .about2 {
      font-size: 50px;
      font-weight: 600;
    }
    .about3 {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .navigation {
    list-style-type: none;
    margin: 0;
    padding: 14px 0 0 0;
    overflow: hidden;
    .logo {
      text-align: center;
      padding: 6px 12px;
      font-weight: bold;
      font-size: 25px;
    }
    li.left {
      float: left;
    }
    li.right {
      float: right;
    }
    li a {
      font-weight: 600;
      font-size: 15px;
      display: block;
      color: #000;
      text-align: center;
      padding: 12px 14px;
      text-decoration: none;
      text-transform: uppercase;
    }

    li a:hover:not(.active) {
      background-color: #666;
    }

    li a.active {
      color: red;
      background-color: #4caf50;
    }
  }
  .request-info {
    position: fixed;
    right: -23px;
    top: 50%;
    transform: rotateZ(-90deg);
    font-size: 12px;
    text-transform: uppercase;
    background: #fff;
    padding: 5px 8px;
  }
}
