// main class is just to display coming soon sections.
// this should be done for each separate views/components.
.main {
  height: 400px;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  letter-spacing: 1px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
