.main-community {
  overflow: hidden;
  height: 700px;
  width: 100%;
  padding-top: 40px;
  font-size: 30px;
  letter-spacing: 1px;
  padding-top: 100px;
  
  //parallax classes
  .parallax {
    opacity: 0;
    margin-top: 500px;
    transition: margin-top 2s, opacity 1s;
  }
  .animate {
    margin-top: 10px;
    opacity: 1;
  }
  
  .community-item {
    width: 200px;
    padding: 17px 0;
    .head {
      font-size: 16px;
      font-weight: 600;
    }
    .content {
      font-size: 14px;
    }
  }
}
